.ui-flex {
  display: flex;
  gap: 1rem;
}

.ui-flex-theme {
  &--primary {
    justify-content: left;
    align-items: flex-end;
  }

  &--primary {
    display: flex;
    justify-content: left;
    align-items: flex-end;
    gap: 1rem;
  }
}
