@import "../styles/colors.scss";

.ui-heading {
  width: 100%;
  //background-image: linear-gradient(90deg,#007CF0,#00DFD8);
  //color: transparent;
  //-webkit-background-clip: text;
  //font-weight: bolder;
}

.ui-heading-theme {
  &--primary {
    //color: $font-black;
  }

  &--secondary {
    color: $font-blue;
    // color: #0000ff;
    // color: #4682b4;
  }
}

.ui-heading-as {
  &--h1 {
    font-size: 2.3rem;
  }

  &--h2 {
    font-size: 1.5rem;
  }

  &--h3 {
    font-size: 1rem;
  }
}

.ui-heading-weight {
  &--s {
    font-weight: 400;
  }

  &--m {
    font-weight: 700;
  }

  &--l {
    font-weight: bold;
  }
}
