@import "../styles/colors.scss";

.ui-link {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  &:visited {
    color: inherit;
  }
}

.ui-link-theme {
  &--primary {
    color: $font-gray;
  }

  &--secondary {
    color: $font-blue;
  }

  &--secondary {
    color: $font-blue;
  }

  &--tertiary {
    color: inherit;
  }
}

.ui-link-underline {
  &--true {
    text-decoration: underline;

    &:hover {
      text-decoration: underline;
    }
  }

  &--false {
    text-decoration: none;
  }
}
