@import "../styles/colors.scss";

.ui-link {
}

.ui-link-theme {
  &--primary {
    text-decoration: underline;
    color: $font-gray;
  }

  &--secondary {
    text-decoration: underline;
    color: $font-blue;
  }
}
