@import "../styles/colors.scss";

.ui-post-layout {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 4rem;

  @media (max-width: 800px) {
    padding: 4rem 1rem 0 1rem;
  }
}

.ui-post-layout__haeder-container {
  margin-bottom: 1rem;
}

.ui-post-layout__info-container {
  margin-bottom: 2rem;

  & span:nth-child(2) {
    margin-left: 1rem;
  }
}
