@import "../styles/colors.scss";

.title {
  font-size: 2.2rem;
  color: $font-black;
  font-weight: 500;
  margin: 5rem 0 2rem 0;
}

.infoContainer {
  margin-bottom: 2rem;
}

.coverImg {
  width: 100%;
}

.content {
  color: red;
  margin: 1rem 0 3rem 0;
}

.author {
  font-weight: 600;
}

.date {
  color: rgb(33, 37, 41);
  margin-left: 0.7rem;
  font-size: 0.8rem;
}

.content {
  color: $font-black;
  margin-top: 2rem;

  p {
    word-break: break-all;
    line-height: 1.725;
    margin: 1rem 0;

    code {
      color: #e96900;
      background-color: #f8f8f8;
      padding: 2px 10px;
      border-radius: 3px;
    }
  }

  ul,
  ol {
    margin-bottom: 2rem;
    margin-left: 2rem;

    p {
      margin: 0 0;
    }
  }

  li {
    margin: 0.5rem 0;
  }

  h2 {
    font-size: 1.5rem;
    margin: 1.5rem 0;
  }

  h3 {
    font-size: 1rem;
  }

  img {
    width: 100%;
  }
}
