@import "../styles/colors.scss";

.ui-text {
  line-height: 1.8;
}

.ui-text-theme {
  &--primary {
    color: $font-gray;
  }

  &--secondary {
    // color: $font-black;
    color: $color-dark1;
  }

  &--tertiary {
    color: $font-black;

    &::before {
      content: "• ";
      font-size: 1rem;
      color: $font-gray;
    }
  }
}

.ui-text-underline {
  text-decoration: underline;
}

.ui-text-size {
  &--s {
    font-size: 0.7rem;
  }

  &--m {
    font-size: 1rem;
  }

  &--l {
    font-size: 1.3rem;
  }
}
