@import "../styles/colors.scss";

.ui-text {
  line-height: 1.6;
}

.ui-text-theme {
  &--primary {
    color: $font-gray;
  }

  &--secondary {
    color: $font-black;
  }

  &--tertiary {
    color: $font-black;

    &::before {
      content: "• ";
      font-size: 1rem;
      color: $font-gray;
    }
  }
}

.ui-text-underline {
  text-decoration: underline;
}
