@import "../styles/colors.scss";

.footer {
  width: 100%;
  border-top: 1px solid $right-gray;
  color: $font-gray;
}

.footer {
  &_copyright {
    width: 100%;
    text-align: center;
    padding-bottom: 1.5rem;
  }

  &_icon-list {
    width: 100%;
    text-align: center;
    padding: 1.5rem 0 0.5rem 0;
  }
}
