@import "../styles/colors.scss";

.ui-link {
  text-decoration: underline;

  &:visited {
    color: inherit;
  }
}

.ui-link-theme {
  &--primary {
    text-decoration-color: $font-gray;
  }

  &--secondary {
    text-decoration-color: $font-blue;
  }

  &--tertiary {
    color: inherit;
  }
}

.ui-link-underline {
  // &--true {
  //   text-decoration: underline;

  //   &:hover {
  //     text-decoration: underline;
  //   }
  // }

  &--false {
    text-decoration: none;
  }
}
