@import "../../styles/colors.scss";

.ui-header-layout {
  width: 100%;
  height: 3.3rem;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 10px 2px #dee2e6;
  background-color: $background-white;
  z-index: 999;
}

.ui-header-container {
  width: 80%;
  max-width: 53rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
